nav{

    background: #e6ccb2;
    width: 100%;
    height: 40px;
    margin: 5px 0px;
    padding: 10px 15px;
    position: fixed;
    
    }
    main{
    
    width: 100%;
    height: 1000px;
    margin: 5px 0px;
    padding-top: 70px;
    }
    footer{
    background: gray;
    width: 100%;
    height: 60px;
    margin: 5px 0px;
    padding: 10px;
    
    }
    
    .left
    {
    float: left;
    height: 30px;
    }
    
    .right
    {
    float: right;
    padding: 10px 5px;
    
    }
    .right a
{
margin-right: 15px;
font-size: 20px;
text-decoration: none;
color: black;

}
.right a:hover
{
color: green;
font-size: 23px;
}
.left img
{
width: 21%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
h1{
    text-align: center;
    
}
